body {
  display: flex;
}

.row {
  width: 100%;
}

header {
  width: 100%;
  background-color: #212123;
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
}

h1 {
  padding-bottom: 50px;
  border-top: solid 2px #ffffff;
}

header .logo {
  width: 20%;
  padding-bottom: 50px;
}

.logo2 {
  height: 200px;
}

.events {
  padding: 100px;
  width: 50%;
}

p {
  text-align: center;
}
