
header {
  width: 100%;
  background-color: #212123;
  display: flex;
  align-content: center;
}

header h1, header h2 {
  color: #ffffff;
  text-align: center;
}

body {
  margin: 20px;
}

h1,h2 {
  color: #ffffff;
}

.logo {
  width: 20%;
}

.logo2 {
  height: 200px;
  display: flex;
  align-content: center;
}

.events {
  padding: 50px;
}

p {
  text-align: center;
}
