.container {
  box-shadow: 0px 5px 20px black;
  margin-bottom: 50px;
}

header {
  background-color: #212123;
  color: #ffffff;
  padding: 50px;
  text-align: center;
}

.center-header {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  padding-bottom: 50px;
  padding-top: 20px;
  border-top: solid 2px #ffffff;
}

h2 {
  Padding-bottom: 20px;
}

h2 a {
  color: #999999;
}

h2 a:hover {
  color: #666666;
}

header .logo {
  width: 300px;
  padding-bottom: 50px;
}

.logo2 {
  height: 150px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.logo2:hover {
  filter: grayscale();
}

.events {
  padding: 50px;
  width: 50%;
  text-align: center;
}

p {
  text-align: center;
}
